
@import "styles/colors";
@import "styles/fonts";
.app {
  font-family: $main-font;
  min-height: 100vh;
  background-color: $primary;
  color: $text-color;
  padding: 2rem;
  .mainContent {
    padding: 2rem;
  }
}
